@import "../../../../styles/Variables.module.scss";
@import "../../../../styles/Mixins.module.scss";

.container {
  @include flex-box(flex-start, flex-start);
  flex-wrap: wrap;
  gap: 24px 40px;
}

.section {
  width: 1160px;
  margin-top: 64px;

  &--reset {
    margin: 0;
  }
}
