@import "../../styles/Mixins.module.scss";
@import "../../styles/Variables.module.scss";

.container {
  @include flex-box(space-between, flex-start);
  width: $desktop-container;
  margin: 40px auto;
}

.table-of-contents {
  position: sticky;
  top: 104px;
}

.main-content {
  width: 950px;
}

// Sections

.title {
  @include font-size(title);
  font-weight: 500;
}

.text {
  @include font-size(base);
}

.content {
  margin-top: 16px;
}

.text-container {
  margin-bottom: 12px;
}

.section {
  width: 730px;
  margin-bottom: 64px;
}

.info-list {
  margin: 24px 0;
}

// Table of contents

.subtitle {
  @include font-size(base);
}

.contents {
  width: 290px;
  margin-top: 16px;
  margin-left: 12px;

  &__item {
    margin-bottom: 12px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
