@import "../../../styles/Mixins.module.scss";

.container {
  @include flex-box(space-between, flex-start);
  width: $desktop-container;
  margin: 0 auto 40px;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
  margin-left: 40px;
}

.headline {
  margin-bottom: 24px;
}

.title {
  @include font-size(title);
  font-weight: 500;
  margin-bottom: 8px;
}

.date {
  @include font-size(label);
}

.text {
  @include font-size(text);
}
