@import "../../../../styles/Mixins.module.scss";
@import "../../../../styles/Variables.module.scss";

.container {
  position: relative;

  &:hover .overlay {
    opacity: 1;
  }
}

.img-container {
  @include box(290px);
  overflow: hidden;
}

.img {
  @include box(290px);
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.4s;
}

.frame {
  @include box(290px);
  border-radius: 8px;
}

.overlay {
  @include flex-box(flex-end, flex-start);
  @include box(100%);
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px 24px;
  background-color: rgba($color: #000000, $alpha: 0.3);
  border-radius: 8px;
  opacity: 0;
  transition: opacity 0.2s;
}

.title {
  @include font-size(base);
  font-weight: normal;
  margin-bottom: 8px;
  color: #fff;
}

.date {
  @include font-size(small-label);
  color: #fff;
}
