@import "../../../../styles/Mixins.module.scss";
@import "../../../../styles/Variables.module.scss";

.container {
  overflow-x: hidden;
}

.months {
  @include flex-box(space-between, center);
  overflow-x: scroll;
  scrollbar-width: thin;
}

.button {
  @include font-size(base);
  padding: 4px 12px;
  margin-right: 24px;
  background-color: $gray-bg;
  border-radius: 4px;
  transition: all 0.2s;

  &:hover {
    background-color: $secondary;
  }

  &.active {
    color: #fff;
    background-color: $primary;
  }
}
