@import "../../../../../styles/Mixins.module.scss";
@import "../../../../../styles/Variables.module.scss";

.container {
  @include flex-box(flex-start, center);
  margin-bottom: 12px;
  cursor: pointer;

  &:hover > .checker::after {
    @include box(10px);
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: $primary-text;
  }
}

.checker {
  @include flex-center;
  @include box(20px);
  position: relative;
  margin-right: 16px;

  &::before {
    @include box(16px);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid $primary-text;
    border-radius: 50%;
    background-color: transparent;
    transition: background-color 0.2s;
  }

  &.checked::after {
    @include box(10px);
    content: "";
    position: absolute;
    border-radius: 50%;

    background-color: $primary-text;
  }
}
