@import "../../styles/Mixins.module.scss";
@import "../../styles/Variables.module.scss";

.main {
  width: $desktop-container;
  margin: 40px auto;
}

.title {
  @include font-size(headline);
  text-align: center;
}

.top {
  margin-bottom: 40px;
}

.text-container {
  @include flex-center;
  margin-top: 16px;
}

.text {
  @include font-size(base);
  width: 620px;
  text-align: center;
  color: $secondary-text;
}
