@import "../../../styles/Mixins.module.scss";

.container {
  width: $desktop-container;
  margin: 0 auto;
}

.content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  margin-top: 24px;
}

.title {
  @include font-size(title);
  font-weight: 400;
}
