@import "../../../../styles/Mixins.module.scss";
@import "../../../../styles/Variables.module.scss";

.container {
  @include flex-box(space-between, center);
  min-width: 1160px;
  padding: 16px 0;
  border-top: 1px solid #333333;

  &.last {
    border-bottom: 1px solid #333333;
  }
}

.title {
  width: 260px;
  margin-right: 40px;
}

.left {
  display: flex;
}

.comma {
  color: $primary-text;
}
