@import "../../../../styles/Mixins.module.scss";
@import "../../../../styles/Variables.module.scss";

.container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.day {
  @include font-size(base);
  width: 176px;
  text-align: right;
  color: $secondary-text;
}
