@import "../../styles/Mixins.module.scss";
@import "../../styles/Variables.module.scss";

.top {
  width: $desktop-container;
  margin: 40px auto 0;
}

.date-picker-container {
  margin-top: 24px;
}

.title {
  @include font-size(headline);
}

.calendar {
  width: $desktop-container;
  margin: 40px auto 0;
}
