@import "../../../../../styles/Mixins.module.scss";
@import "../../../../../styles/Variables.module.scss";

.container {
  @include flex-box(flex-start, flex-end);
  flex-direction: column;
}

.outer {
  @include flex-box(space-between, center);
  width: 560px;
  padding-bottom: 24px;
  border-bottom: 1px solid $secondary;

  cursor: pointer;

  &:hover h3 {
    color: $secondary-text;
    transition: color 0.2s;
  }

  &:hover .plus {
    transform: rotate(30deg);
  }

  &:hover .plus.active {
    transform: rotate(90deg);
  }
}

.inner {
  @include flex-box(flex-start, center);
}

.logo {
  margin-right: 24px;
}

.data-container {
  width: 90%;
  display: none;

  &.open {
    display: block;
  }
}

.plus {
  transition: transform 0.2s;

  &.active {
    transform: rotate(90deg);
  }
}
