@import "../../styles/Mixins.module.scss";
@import "../../styles/Variables.module.scss";

.main {
  margin: 40px auto;
}

.divider {
  width: $desktop-container;
  height: 1px;
  margin: 40px auto;
  background-color: $secondary;
}
