@import "../../../../styles/Mixins.module.scss";
@import "../../../../styles/Variables.module.scss";

.container {
  @include box(176px, 108px);
  position: relative;

  &:hover .overlay {
    opacity: 1;
  }
}

.img {
  @include box(176px, 108px);
  border-radius: 4px;
  object-fit: cover;
  transition: transform 0.4s;

  &:hover {
    transform: scale(1.1);
  }
}

.iframe {
  @include box(176px, 108px);
  border-radius: 4px;
}

.overlay {
  @include flex-box(flex-end, flex-start);
  @include box(100%);
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  padding: 12px;
  background-color: rgba($color: #000000, $alpha: 0.3);
  border-radius: 4px;
  opacity: 0;
  transition: all 0.2s;
}

.title {
  @include font-size(label);
  font-weight: normal;
  color: #fff;
}
