@import "../../../../styles/Mixins.module.scss";

.container {
  @include flex-box(flex-start, center);
  position: relative;
  z-index: 5;
  padding: 10px 24px;
  border: 1px solid $secondary;
  border-radius: 4px;
  cursor: pointer;

  &:focus {
    border-color: $primary;
  }
}

.text {
  @include font-size(label);
  margin-left: 8px;
}
